@import "libs/rdforms/view/bootstrap/base.css";
@import "libs/bootstrap/dist/css/bootstrap.min.css";
@import "libs/entryscape-commons/dialog/dialog.css";
@import "libs/entryscape-commons/rdforms/rdforms.css";
@import "libs/entryscape-commons/list/list.css";
@import "libs/entryscape-commons/query/style.css";
@import "libs/entryscape-commons/nav/entryscape.css";
@import "libs/entryscape-commons/errors/errors.css";
@import "libs/entryscape-catalog/files/files.css";
@import "dataset/dataset.css";
@import "libs/leaflet/dist/leaflet.css";
@import "search/espoCatalog.css";

/* Fonts */
@import "libs/fontawesome/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@import "https://fonts.googleapis.com/css?family=Kaushan+Script";
@import "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic";
@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700";
@import "libs/flag-icon-css/css/flag-icon.min.css";