<div class="container-fluid spaView ${bid}">
    <div class="col-sm-4 col-md-3 ${bid}__sidebar" data-dojo-attach-point="__sidebar">
        <div data-dojo-attach-point="__catalog" class="${bid}__catalog">
            <a class="btn btn-default pull-right ${bid}__back" role="button" data-dojo-attach-point="__back"><i class="fa fa-chevron-left"></i></a>
            <h3 data-dojo-attach-point="__label"></h3>
            <button class="btn btn-default pull-right" type="button"
            data-dojo-attach-event="click:infoCatalogClick"><i class="fa fa-info-circle"></i></button>
            <div class="${bid}__description" data-dojo-attach-point="__description"></div>
        </div>
        <div data-dojo-attach-point="__catalogList" class="list-group ${bid}__catalogList"></div>
    </div>
    <div class="col-sm-8 col-md-9 ${bid}__main" data-dojo-attach-point="__main">
    </div>
</div>
