.espoCatalog {
    overflow: hidden;
    padding: 0px;
    height: 100%;
}

.espoCatalog__sidebar,
.espoCatalog__main {
    height: 100%;
    overflow-y: auto;
}

.espoCatalog__sidebar {
    background: #f5f5f5;
    border-right: 1px solid #ddd;
}

.espoCatalog__catalogList {
    padding-top: 1em;
    display: none;
}

.espoCatalog--list .espoCatalog__catalog {
    display: none;
}

.espoCatalog--list .espoCatalog__catalogList {
    display: block;
}

.espoCatalog--noListAvailable .espoCatalog__back {
    display: none;
}
