<div>
    <div data-dojo-attach-point="dialog"
         data-dojo-type="entryscape-commons/dialog/HeaderDialog"
         data-dojo-props="maxWidth: 800">
        <header><span class="navbar-brand" data-dojo-attach-point="titleNode"></span></header>
        <div data-dojo-attach-point="dataset" data-dojo-type="entryscape-catalog-portal/dataset/Dataset" data-dojo-props="inDialog:true"></div>
    </div>
</div>