<div>
    <div data-dojo-type="entryscape-catalog/files/APIInfo" data-dojo-attach-point="apiInfo"></div>
    <div data-dojo-attach-point="presenter" data-dojo-props="compact: true"
         data-dojo-type="rdforms/view/Presenter"></div>
</div>